<ion-view title="Page" hide-nav-bar="true" id="page1">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div>
      <img src="img/vXPSgoOgSoCnOEDeqU9Q_lliurex-logo.png" style="display: block; width: 70%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <ion-list id="page-list1">
      <ion-item class="item-avatar" id="page-list-item1" href-inappbrowser="http://lliurex.net">
        <img src="img/oFbkqpm3TSOX2NeWhXpJ_icon_news.png">
        <h2>Noticias</h2>
        <p>Novedades de LliureX</p>
      </ion-item>
      <ion-item class="item-avatar" id="page-list-item2" href-inappbrowser="http://mestreacasa.gva.es/web/lliurex/forums">
        <img src="img/n1AmVSYlSUy4MbMXSpOb_icon_forum.png">
        <h2>Foro</h2>
        <p>Contacta con la comunidad</p>
      </ion-item>
      <ion-item class="item-avatar" id="page-list-item3" href-inappbrowser="http://wiki.lliurex.net/">
        <img src="img/icon_wiki.png">
        <h2>Wiki</h2>
        <p>Consulta todos los manuales</p>
      </ion-item>
    </ion-list>
    <div id="page-button-bar1" class="button-bar">
      <a href-inappbrowser="https://twitter.com/lliurex" id="page-button4" class="button button-positive button-block icon ion-social-twitter"></a>
      <a href-inappbrowser="https://www.youtube.com/channel/UCax9DB_dkKX6x8-IMvw-MJg" id="page-button5" class="button button-positive button-block icon ion-social-youtube"></a>
      <a href="mailto:lliurex@gva.es" id="page-button6" class="button button-positive button-block icon ion-android-mail"></a>
    </div>
  </ion-content>
</ion-view>
